@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;0,900;1,100;1,300;1,600;1,700;1,900&display=swap');

body{
    background-color:#e5e5e5;
    color: #03045e;
    font-family: 'Montserrat', sans-serif;

}
h1{ 
    font-size: 55px;
    color: #14213d;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: #fb8500;
}
h5{
    color: #fca311;
}

nav ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #fca311;
    padding: 10px;
    border-radius: 8px;
}

.navigationLinks ul li {
    list-style: none;
    display: inline;
}

header {
    text-align: center;
}

#photo{
    width: 40%;
    text-align: center;
    float: left;
}
#paulo{
    color: #14213d;
}
#about{
    width: 59%;
    max-height: 400px;
    overflow-y: scroll;
    text-align: center;
    float: right;
}
.list{
    font-size: 20px;
}

.linkTrybe{
    color: white;
    background-color: #29a36b;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 10px;
}
.testimonialPhoto{
    border-radius: 80px;
    padding: 10px;
    background-color: #14213d;
}