@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,100;1,300&display=swap');

body{
    background-color:#e5e5e5;
    color: #03045e;
    font-family: 'Montserrat', sans-serif;

}
div{
    /* border: solid black; */
}
h1{ 
    font-size: 55px;
    color: #14213d;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: #fb8500;
}
h5{
    color: #fca311;
}

#name{
    text-align: center;
}
#container1{
    overflow: auto;
}
#photo{
    width: 40%;
    text-align: center;
    /* min-width: 400px; */
    float: left;
}
#paulo{
    color: #14213d;
}
#about{
    /* position: relative; */
    /* bottom: 200px; */
    /* left: 50%; */
    width: 59%;
    max-height: 400px;
    /* min-width: 400px; */
    overflow-y: scroll;
    text-align: center;
    float: right;
}
.list{
    font-size: 20px;
}
.link{
    color: #fca311;
}
.linkTrybe{
    color: white;
    background-color: #29a36b;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 10px;
}
.testimonialPhoto{
    border-radius: 80px;
    padding: 10px;
    background-color: #14213d;
}